.mainsection{
  height: calc(100vh - 100px);
}
.imagesection{
  height: 70vh !important;
  width: 100vw !important;
  /* object-fit: cover; */
  position: relative;
}
.mainsection img{
  object-fit: cover;
}
.caption{
  display: flex;
  margin: 20px 10%;
  justify-content: space-around;
  align-items: center;
}
.caption div{
  margin: 15px;
  max-width: 400px;
}
.instrumentsection:hover .instrument{
  transform: rotate(15deg);
  /* width: 160px !important; */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.instrumentsection:hover .instrumentlabel{
  color: azure;
  transition: transform 0.3s ease-in-out;
}
.instrumentsection{
  font-size: 1.4rem;
}